*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #efefef;
}

.app {
  margin: 0;
  padding: 0;
  max-width: 425px;
  background-color: $page-background;
}
