// $page-background: #eef8f7;
$page-background: #fff;

$light-green: #c8e4df;
$green: #a5d5cc;
$dark-green: #304641;

$text: #42425d;
$text-light: rgba(255, 255, 255, 0.9);
$btn-background: rgba(255, 255, 255, 0.6);
$btn-background-dark: rgba(0, 0, 0, 0.05);
