@font-face {
  font-family: open-sans;
  src: url("../assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
  margin: 0;
  font-family: "Roboto", yaldevi, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
